<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask</title>
</head>
<body>
    <h1>Build Web App Using Flask and sqlite</h1>
    <button class="btn" type="button" onclick="window.location.href='{{ url_for('join') }}';">Fill form to get product</button><br/>
    <button class="btn" type="button" onclick="window.location.href='{{ url_for('participants') }}';">Check buyers list</button>
</body>
</html>
