<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask</title>
</head>
<body>
    <table style="width: 100%;">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>City</th>
            <th>product</th>
            <th>phone</th>
        </tr>
        {% for participants in data %}
            <tr>
                <td>{{participants[0]}}</td>
                <td>{{participants[1]}}</td>
                <td>{{participants[2]}}</td>
                <td>{{participants[3]}}</td>
                <td>{{participants[4]}}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>